*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -130px;
}
.upper_area{
    background-color: rgba(0, 0, 0, 0.746);
    padding: 60px 60px 100px 60px;

}

.main_heading {
    
    color:white;
    font-size: 60px;    
    text-align: center;
    padding-bottom: 50px;
    margin-top: 220px;
    margin-right: 250px;
    margin-left: 250px; 

}
.main_heading p{
    color:white;
    font-size: 24px;
}
.para{
    margin-top: -70px;
    padding-top: -200px;
    margin-left: 450px;
    margin-right:450px;
}

.para p{
    font-size: 24px;
    text-align: center;
    color:rgb(84, 83, 83);
}
.button_align{
    text-align: center;
}


.button{
    padding: 30px 60px;
    
    font-weight: bold;
    font-size: 30px;
    background:linear-gradient(rgb(249, 105, 64),rgb(251, 94, 42) ,rgb(254, 56, 2) ) ;
    border:none;
    border-radius: 20px;
    color:azure;

}

h2{
    text-align:center;
    font-size:60px;
    margin-top:200px;
}

.amount{
    text-align:center;
    padding:50px ;
    margin-bottom: 2px;
}

.buttons_amount{
    padding: 40px;
    font-size: 32px;
    font-weight: bolder;
    color:gray;
    border:none;
    border-radius: 7px;
}

#selected{
    background-color: rgba(249, 161, 146, 0.458);
    border:3px solid tomato;
    color:tomato;
    
}
.amount_options{
    padding-left:40px;
}
#input_amount{
    font-size: 32px; 
    border:none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.71);
    width: 1000px;
    text-align: center;
    margin:10px;
}
.rights{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.plan{
    border:none;
    border-radius: 16px;
    margin: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.plan h3{
     font-size:32px;
}
.plan p{
     text-align: justify;
}

#food{
    background-color:rgba(136, 197, 199, 0.27);
    
}

#shelter{
    background-color:rgba(255, 189, 222, 0.276) ;
}

#education{
    background-color: rgba(255, 228, 196, 0.416);
}


footer{
    background-color: rgb(11, 11, 11);
    text-align: center;
    padding:60px;
    margin-top: 200px ;
}

footer h3{
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    color: tomato;
    
}

footer p{
    font-family: 'Inter', sans-serif;
    font-size:18px;
    color:white;
}

.achievement1 img{
     border-radius: 30px;
     margin-left: 100px;
     margin-top: 150px;
     margin-right: 100px;
}

.achievement{
    display:flex;
    margin-bottom: 100px;
}

#sylhet{
    margin-top: 150px;
    margin-right:150px;
    margin-left:60px;
}

h3{
    font-size:40px;
}
.text{
    font-size:24px;
    color:grey;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}
#sylhet .button{
    font-size: 18px;
    padding:30px;
    margin-top:30px;
    margin-left: 230px;

}

#teach{
    margin-left:150px;
    margin-top:150px;
}

#teach .button{
    font-size: 18px;
    padding:30px;
    margin-top:5px;
    margin-left: 150px;
}

.subscribe{
    background-color: rgba(255, 228, 196, 0.577);
    border:none
    text-align: center;
    margin-top: 20px;
    margin-left: 400px;
    margin-right:400px;
    padding:130px;
}

#email{
    width: 500px;
    height: 59px;
    font-size: 24px;
    padding-left:35px;
    background-color: rgb(213, 211, 211);
    margin-top: 11px;
    border:none;
    border-radius: 10px;
}

#sub{
    border:none;
    padding-top:19px;
    padding-bottom: 14px;
    padding-right: 60px;
    padding-left:60px;
    margin-left:-15px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(rgba(255, 111, 89, 0.928) , rgb(194, 50, 194));
    border-radius: 10px;
    font-weight: bolder;
}

