*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.upper_area{
    background-color: rgba(0, 0, 0, 0.746);
    padding-bottom: 400px;
    padding-top: 50px;

}

.main_heading {
    
    color:white;
    font-size: 70px;    
    text-align: center;
    padding-bottom: 50px;
    margin-top: 250px;   
}
.main_heading p{
    color:white;
    font-size: 24px;
}

.para p{
    font-size: 24px;
    text-align: center;
    color:rgb(84, 83, 83);

}
.button_align{
    text-align: center;
}


.button{
    padding: 30px 60px;
    
    font-weight: bold;
    font-size: 30px;
    background:linear-gradient(rgb(249, 105, 64),rgb(251, 94, 42) ,rgb(254, 56, 2) ) ;
    border:none;
    border-radius: 20px;
    color:azure;

}

h2{
    text-align:center;
    font-size:60px;
    margin-top:200px;
}

.amount{
    text-align:center;
    padding:50px ;
    margin-bottom: 2px;
}

.buttons_amount{
    padding: 40px;
    font-size: 32px;
    font-weight: bolder;
    color:gray;
    border:none;
    border-radius: 7px;
}

#selected{
    background-color: rgba(249, 161, 146, 0.458);
    border:3px solid tomato;
    color:tomato;
    
}
.amount_options{
    padding-left:40px;
}
#input_amount{
    font-size: 32px; 
    border:none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.71);
    width: 1000px;
    text-align: center;
    margin:10px;
}
.rights{
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.plan{
    border:none;
    border-radius: 16px;
    margin: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.plan h3{
     font-size:32px;
}
.plan p{
     text-align: justify;
}

#food{
    background-color:rgba(136, 197, 199, 0.27);
    
}

#shelter{
    background-color:rgba(255, 189, 222, 0.276) ;
}

#education{
    background-color: rgba(255, 228, 196, 0.416);
}


footer{
    background-color: rgba(0, 0, 0, 0.965);
    
    text-align: center;
    padding:60px;
    margin-top: 400px ;
}

footer h3{
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    color: tomato;
    
}

footer p{
    font-family: 'Inter', sans-serif;
    font-size:25px;
    color:white;
}